{
  "name": "GunDogs",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "LICENSE.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"LICENSE.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"LICENSE.html\"}"
    },
    {
      "path": "README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"README.html\"}"
    },
    {
      "path": "css/side-menu.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/side-menu.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/side-menu-dist.css\"}"
    },
    {
      "path": "js/ui.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/ui.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/ui-dist.js\"}"
    },
    {
      "path": "js/source/jquery.swipebox.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/source/jquery.swipebox.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/source/jquery.swipebox-dist.js\"}"
    },
    {
      "path": "js/source/jquery.swipebox.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/source/jquery.swipebox.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/source/jquery.swipebox.min-dist.js\"}"
    },
    {
      "path": "js/source/swipebox.css",
      "configJson": "{\"compiler-css\":{\"path\":\"js/source/swipebox.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"js/source/swipebox-dist.css\"}"
    },
    {
      "path": "apple-touch-icon-precomposed.png",
      "configJson": "{\"compiler-png\":{\"path\":\"apple-touch-icon-precomposed.png\",\"size\":6023,\"initialSize\":6023,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "apple-touch-icon.png",
      "configJson": "{\"compiler-png\":{\"path\":\"apple-touch-icon.png\",\"size\":6023,\"initialSize\":6023,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "js/source/img/icons.png",
      "configJson": "{\"compiler-png\":{\"path\":\"js/source/img/icons.png\",\"size\":729,\"initialSize\":729,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/047-about-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/047-about-thumb.jpg\",\"size\":15552,\"initialSize\":15552,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/akc.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/akc.jpg\",\"size\":11414,\"initialSize\":11414,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/bg.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/bg.jpg\",\"size\":1698830,\"initialSize\":1698830,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/blockquote.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/blockquote.png\",\"size\":603,\"initialSize\":603,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/emma-rose-breeder.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/emma-rose-breeder.jpg\",\"size\":6782,\"initialSize\":6782,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/hannah-breeder.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/hannah-breeder.jpg\",\"size\":31856,\"initialSize\":31856,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/heidi-breeder.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/heidi-breeder.jpg\",\"size\":6416,\"initialSize\":6416,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/home-title-bg.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/home-title-bg.png\",\"size\":49034,\"initialSize\":49034,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/jaegers-breeder.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/jaegers-breeder.jpg\",\"size\":25499,\"initialSize\":25499,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/logo_back.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/logo_back.png\",\"size\":14495,\"initialSize\":14495,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/logo_back2.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/logo_back2.png\",\"size\":10680,\"initialSize\":10680,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/logo_back3.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/logo_back3.png\",\"size\":14742,\"initialSize\":14742,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/logo_back4.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/logo_back4.png\",\"size\":13358,\"initialSize\":13358,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/map-location.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/map-location.jpg\",\"size\":240368,\"initialSize\":240368,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/map.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/map.png\",\"size\":86875,\"initialSize\":86875,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/max-breeder.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/max-breeder.jpg\",\"size\":21843,\"initialSize\":21843,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/navhda.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/navhda.png\",\"size\":17184,\"initialSize\":17184,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/ofa.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/ofa.png\",\"size\":32868,\"initialSize\":32868,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/puppies-spring2013.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/puppies-spring2013.jpg\",\"size\":133506,\"initialSize\":133506,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/rigby-breeder.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/rigby-breeder.jpg\",\"size\":81483,\"initialSize\":81483,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/sophia-breeder.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/sophia-breeder.jpg\",\"size\":66680,\"initialSize\":66680,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/three-dogs.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/three-dogs.png\",\"size\":44198,\"initialSize\":44198,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/whiteclover-breeder.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/whiteclover-breeder.jpg\",\"size\":26943,\"initialSize\":26943,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/youtube.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/youtube.png\",\"size\":3317,\"initialSize\":3317,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/zada-breeder.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/zada-breeder.jpg\",\"size\":22374,\"initialSize\":22374,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/zeb-breeder.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/zeb-breeder.jpg\",\"size\":38279,\"initialSize\":38279,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/zelda-breeder.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/zelda-breeder.jpg\",\"size\":37158,\"initialSize\":37158,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/0001-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/0001-full.jpg\",\"size\":140084,\"initialSize\":140084,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/0008-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/0008-full.jpg\",\"size\":290008,\"initialSize\":290008,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/002-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/002-full.jpg\",\"size\":206399,\"initialSize\":206399,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/0032-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/0032-full.jpg\",\"size\":199205,\"initialSize\":199205,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/004-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/004-full.jpg\",\"size\":249659,\"initialSize\":249659,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/0048-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/0048-full.jpg\",\"size\":236167,\"initialSize\":236167,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/005-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/005-full.jpg\",\"size\":210199,\"initialSize\":210199,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/006-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/006-full.jpg\",\"size\":207425,\"initialSize\":207425,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/0061-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/0061-full.jpg\",\"size\":203935,\"initialSize\":203935,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/009-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/009-full.jpg\",\"size\":220081,\"initialSize\":220081,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/011-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/011-full.jpg\",\"size\":98690,\"initialSize\":98690,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/012-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/012-full.jpg\",\"size\":133140,\"initialSize\":133140,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/013-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/013-full.jpg\",\"size\":306294,\"initialSize\":306294,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/014-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/014-full.jpg\",\"size\":179698,\"initialSize\":179698,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/015-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/015-full.jpg\",\"size\":181815,\"initialSize\":181815,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/016-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/016-full.jpg\",\"size\":150727,\"initialSize\":150727,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/017-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/017-full.jpg\",\"size\":210498,\"initialSize\":210498,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/018-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/018-full.jpg\",\"size\":222191,\"initialSize\":222191,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/019-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/019-full.jpg\",\"size\":134902,\"initialSize\":134902,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/020-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/020-full.jpg\",\"size\":152681,\"initialSize\":152681,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/021-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/021-full.jpg\",\"size\":123766,\"initialSize\":123766,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/022-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/022-full.jpg\",\"size\":154053,\"initialSize\":154053,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/023-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/023-full.jpg\",\"size\":112970,\"initialSize\":112970,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/024-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/024-full.jpg\",\"size\":122225,\"initialSize\":122225,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/025-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/025-full.jpg\",\"size\":76034,\"initialSize\":76034,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/026-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/026-full.jpg\",\"size\":127712,\"initialSize\":127712,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/027-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/027-full.jpg\",\"size\":87038,\"initialSize\":87038,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/028-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/028-full.jpg\",\"size\":118610,\"initialSize\":118610,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/029-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/029-full.jpg\",\"size\":93132,\"initialSize\":93132,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/030-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/030-full.jpg\",\"size\":186294,\"initialSize\":186294,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/032-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/032-full.jpg\",\"size\":212493,\"initialSize\":212493,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/033-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/033-full.jpg\",\"size\":158954,\"initialSize\":158954,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/035-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/035-full.jpg\",\"size\":64726,\"initialSize\":64726,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/038-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/038-full.jpg\",\"size\":187663,\"initialSize\":187663,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/039-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/039-full.jpg\",\"size\":181791,\"initialSize\":181791,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/040-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/040-full.jpg\",\"size\":133722,\"initialSize\":133722,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/041-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/041-full.jpg\",\"size\":265563,\"initialSize\":265563,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/043-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/043-full.jpg\",\"size\":167927,\"initialSize\":167927,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/044-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/044-full.jpg\",\"size\":179554,\"initialSize\":179554,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/045-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/045-full.jpg\",\"size\":121569,\"initialSize\":121569,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/046-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/046-full.jpg\",\"size\":167099,\"initialSize\":167099,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/047-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/047-full.jpg\",\"size\":188132,\"initialSize\":188132,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/048-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/048-full.jpg\",\"size\":154676,\"initialSize\":154676,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/106-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/106-full.jpg\",\"size\":133213,\"initialSize\":133213,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/113-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/113-full.jpg\",\"size\":143688,\"initialSize\":143688,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/479-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/479-full.jpg\",\"size\":414205,\"initialSize\":414205,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/633-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/633-full.jpg\",\"size\":489889,\"initialSize\":489889,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/634-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/634-full.jpg\",\"size\":559783,\"initialSize\":559783,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/ida-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/ida-full.jpg\",\"size\":320846,\"initialSize\":320846,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/zeb-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/zeb-full.jpg\",\"size\":360629,\"initialSize\":360629,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/zelda-full.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/zelda-full.jpg\",\"size\":339957,\"initialSize\":339957,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/0001-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/0001-thumb.jpg\",\"size\":30437,\"initialSize\":30437,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/0008-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/0008-thumb.jpg\",\"size\":40361,\"initialSize\":40361,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/002-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/002-thumb.jpg\",\"size\":30976,\"initialSize\":30976,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/0032-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/0032-thumb.jpg\",\"size\":38905,\"initialSize\":38905,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/004-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/004-thumb.jpg\",\"size\":36075,\"initialSize\":36075,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/0048-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/0048-thumb.jpg\",\"size\":32308,\"initialSize\":32308,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/005-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/005-thumb.jpg\",\"size\":34409,\"initialSize\":34409,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/006-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/006-thumb.jpg\",\"size\":29914,\"initialSize\":29914,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/0061-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/0061-thumb.jpg\",\"size\":39824,\"initialSize\":39824,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/0062-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/0062-thumb.jpg\",\"size\":36304,\"initialSize\":36304,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/009-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/009-thumb.jpg\",\"size\":31986,\"initialSize\":31986,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/011-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/011-thumb.jpg\",\"size\":21643,\"initialSize\":21643,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/012-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/012-thumb.jpg\",\"size\":34104,\"initialSize\":34104,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/013-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/013-thumb.jpg\",\"size\":36839,\"initialSize\":36839,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/014-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/014-thumb.jpg\",\"size\":28067,\"initialSize\":28067,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/015-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/015-thumb.jpg\",\"size\":29631,\"initialSize\":29631,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/016-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/016-thumb.jpg\",\"size\":30811,\"initialSize\":30811,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/017-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/017-thumb.jpg\",\"size\":32522,\"initialSize\":32522,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/018-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/018-thumb.jpg\",\"size\":34013,\"initialSize\":34013,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/019-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/019-thumb.jpg\",\"size\":33396,\"initialSize\":33396,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/020-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/020-thumb.jpg\",\"size\":38961,\"initialSize\":38961,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/021-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/021-thumb.jpg\",\"size\":30983,\"initialSize\":30983,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/022-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/022-thumb.jpg\",\"size\":35407,\"initialSize\":35407,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/023-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/023-thumb.jpg\",\"size\":30618,\"initialSize\":30618,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/024-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/024-thumb.jpg\",\"size\":30479,\"initialSize\":30479,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/025-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/025-thumb.jpg\",\"size\":23139,\"initialSize\":23139,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/026-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/026-thumb.jpg\",\"size\":27819,\"initialSize\":27819,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/027-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/027-thumb.jpg\",\"size\":23748,\"initialSize\":23748,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/028-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/028-thumb.jpg\",\"size\":30998,\"initialSize\":30998,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/029-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/029-thumb.jpg\",\"size\":25109,\"initialSize\":25109,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/030-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/030-thumb.jpg\",\"size\":35744,\"initialSize\":35744,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/031-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/031-thumb.jpg\",\"size\":32995,\"initialSize\":32995,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/032-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/032-thumb.jpg\",\"size\":36135,\"initialSize\":36135,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/033-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/033-thumb.jpg\",\"size\":33900,\"initialSize\":33900,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/035-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/035-thumb.jpg\",\"size\":22401,\"initialSize\":22401,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/038-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/038-thumb.jpg\",\"size\":37315,\"initialSize\":37315,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/039-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/039-thumb.jpg\",\"size\":37613,\"initialSize\":37613,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/040-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/040-thumb.jpg\",\"size\":33952,\"initialSize\":33952,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/041-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/041-thumb.jpg\",\"size\":37541,\"initialSize\":37541,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/042-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/042-thumb.jpg\",\"size\":37578,\"initialSize\":37578,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/043-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/043-thumb.jpg\",\"size\":36188,\"initialSize\":36188,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/044-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/044-thumb.jpg\",\"size\":38396,\"initialSize\":38396,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/045-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/045-thumb.jpg\",\"size\":30706,\"initialSize\":30706,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/046-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/046-thumb.jpg\",\"size\":35379,\"initialSize\":35379,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/047-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/047-thumb.jpg\",\"size\":37151,\"initialSize\":37151,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/048-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/048-thumb.jpg\",\"size\":34766,\"initialSize\":34766,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/049-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/049-thumb.jpg\",\"size\":29254,\"initialSize\":29254,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/106-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/106-thumb.jpg\",\"size\":45375,\"initialSize\":45375,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/113-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/113-thumb.jpg\",\"size\":41972,\"initialSize\":41972,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/479-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/479-thumb.jpg\",\"size\":37219,\"initialSize\":37219,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/633-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/633-thumb.jpg\",\"size\":40754,\"initialSize\":40754,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/634-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/634-thumb.jpg\",\"size\":44291,\"initialSize\":44291,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/ida-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/ida-thumb.jpg\",\"size\":62660,\"initialSize\":62660,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/zeb-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/zeb-thumb.jpg\",\"size\":68137,\"initialSize\":68137,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/zelda-thumb.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/zelda-thumb.jpg\",\"size\":65874,\"initialSize\":65874,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/about/012-thumb2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/about/012-thumb2.jpg\",\"size\":7990,\"initialSize\":7990,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/about/018-thumb2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/about/018-thumb2.jpg\",\"size\":6416,\"initialSize\":6416,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/about/019-thumb2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/about/019-thumb2.jpg\",\"size\":6782,\"initialSize\":6782,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gallery/thumbs/about/041-thumb2.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gallery/thumbs/about/041-thumb2.jpg\",\"size\":8720,\"initialSize\":8720,\"optimized\":false,\"height\":0,\"width\":0}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7887,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-minify-css\":{\"enabled\":false}}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"autoCompile\":true,\"compiler-pug\":{\"pretty\":true,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}